@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

body
{
  
  font-family: 'Nunito', sans-serif;
}

.video-container video{
  position: absolute;
  top:0; left: 0;
  z-index: -1;
  height: 100%;
  width:100%;
  object-fit: cover;
}

.controls
{
  padding:1rem;
  border-radius: 5rem;
  position: relative;
  top:8rem;
}

.forgot-form-container 
{
  width: 500px;
  height: 350px;
  margin: auto;
  background-color:white;
  border-radius: 0.5rem;
}

.forgot-form-container form h4 
{
  font-size: 3rem;
  color:#444;
  text-transform: uppercase;
  text-align: center;
  padding:1rem 0 ;
  margin-bottom: 16px;
}


.forgot-form-container form 
{
  width: 446px;
  margin-left: 20px;
}

.forgot-form-container form input 
{
  width: 100%;
  border: none;
  border: 1px solid gray;
  border-radius:1px;
  outline: none;
  color:#ffa500;
  padding: 0.8rem;;
  font-size: 10px;
  margin:.2rem 0;
  border: 0.1em solid rgba(0,0,0,.3);
  text-transform: none;
}

.forgot-form-container form .box:focus{
  border-color: var(--orange);;
}

.forgot-form-container form .btn 
{
    display: inline-block;
  width: 460px;
  height: 43px;
  margin-top: 20px;
  border: none;
 background-color: #ffa500;
 color: white;
 font-size: 15px;
 border-radius: 22px;
 cursor: pointer;
}

.forgot-form-container-btn:hover{
  background:rgba(255, 165, 0,.2);
  color:#ffa500;
}

.upp{
  margin-top: -34px;
}


